#Informacoes {
    border: black solid 2px ;
    background-color: yellow;
    font-size:  30px;
    width: 900px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 30px 50px;
    
}